/* Default styles */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 600px;
  padding: 20px;
}

.chatbox {
  margin: 10px 0;
  overflow-y: scroll;
  height: 400px;
  padding: 10px;
}

.chatbox::-webkit-scrollbar {
  width: 8px;
}

.chatbox::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 10px;
}

.user-message {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
}

.bot-message {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
}


/* Form */
form {
  display: flex;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

button[type="submit"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  /* Chat box */
  .chatbox {
    height: 500px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 800px;
  }

  /* Chat box */
  .chatbox {
    height: 600px;
  }
}
